<div class="container">
  <h1>Account login</h1>
  <form>
    <input class="form-control" type="email" placeholder="Email">

    <input class="form-control" type="password" placeholder="Password">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>

</div>